[Unit]
Description=cloudbot
After=network.target

[Service]
User=cloudbot
Type=simple
Environment="NLTK_DATA=/usr/bin/cloudbot/"
WorkingDirectory=/usr/bin/cloudbot/
ExecStart=/usr/bin/python3.7 -m cloudbot
ExecStop=/bin/kill -HUP $MAINPID
ProtectHome=true
PrivateUsers=true
PrivateTmp=true
ProtectControlGroups=true

[Install]
WantedBy=multi-user.target
